// .row {
//     background-color: white;
//     width: 204.8vh;
//   }
.row {
    // width: 204.8vh;
    position:relative; font-size: 12px;
   
  }
  // .btn{
  // position:relative; left:350px; 
  // }
  
  .col-md-8 {
  font-weight: bold;
  background-color: white;
  }
  .can-sav{
    position:relative; left:200px; 
  }
  