<div class="log">
  <h2 id="page-heading" data-cy="ProviseurHeading">
    <p class="list" style="font-weight: bold; text-align: center">Proviseur</p>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Rafraîchir la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-proviseur"
        [routerLink]="['/proviseur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer un nouveau  proviseur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="proviseurs?.length === 0">
    <span>Aucun proviseur trouvé</span>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
  <div class="table-responsive" id="entities" *ngIf="proviseurs && proviseurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="nomPrenom"><span>Nom Prenom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.login"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomLycee.id"><span>Nom Lycee</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proviseur of proviseurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/proviseur', proviseur.id, 'view']">{{ proviseur.id }}</a>
          </td>
          <td>{{ proviseur.nomPrenom }}</td>
          <td>
            {{ proviseur.user?.login }}
          </td>
          <td>
            <div *ngIf="proviseur.nomLycee">
              <a [routerLink]="['/lycees-techniques', proviseur.nomLycee?.id, 'view']">{{ proviseur.nomLycee?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/proviseur', proviseur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/proviseur', proviseur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(proviseur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

  <div *ngIf="proviseurs && proviseurs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
