<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="personnelAdministratif">
      <h2 data-cy="personnelAdministratifDetailsHeading" style="font-weight: bold"><span>Personnel administratif</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="row">
        <div class="col-md-12">
          <dl class="row-md jh-entity-details">
            <!-- <dt><span>ID</span></dt>
        <dd>
          <span>{{ personnelAdministratif.id }}</span>
        </dd> -->
            <dt><span>Lycée technique</span></dt>
            <dd>
              <div *ngIf="personnelAdministratif.lyceesTechniques">
                <a [routerLink]="['/lycees-techniques', personnelAdministratif.lyceesTechniques?.id, 'view']">{{
                  personnelAdministratif.lyceesTechniques?.nomLycee
                }}</a>
              </div>
            </dd>
            <dt><span>Matricule</span></dt>
            <dd>
              <span>{{ personnelAdministratif.matricule }}</span>
            </dd>
            <dt><span>Nom</span></dt>
            <dd>
              <span>{{ personnelAdministratif.nom }}</span>
            </dd>
            <dt><span>Prénom</span></dt>
            <dd>
              <span>{{ personnelAdministratif.prenom }}</span>
            </dd>
            <dt><span>Situation matrimoniale</span></dt>
            <dd>
              <span>{{ personnelAdministratif.situationMatrimoniale }}</span>
            </dd>
            <dt><span>Fonction</span></dt>
            <dd>
              <span>{{ personnelAdministratif.fonction }}</span>
            </dd>
            <dt><span>Autre fonction</span></dt>
            <dd>
              <span>{{ personnelAdministratif.autreFonction }}</span>
            </dd>
            <dt><span>Téléphone</span></dt>
            <dd>
              <span>{{ personnelAdministratif.telephone }}</span>
            </dd>
            <dt><span>E-mail</span></dt>
            <dd>
              <span>{{ personnelAdministratif.mail }}</span>
            </dd>

            <!-- <dt><span>Proviseur</span></dt>
        <dd>
          <div *ngIf="personnelAdministratif.proviseur">
            <a [routerLink]="['/proviseur', personnelAdministratif.proviseur?.id, 'view']">{{
              personnelAdministratif.proviseur?.nomPrenom
            }}</a>
          </div>
        </dd> -->
          </dl>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/personnel-administratif', personnelAdministratif.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
      </button>
    </div>
  </div>
</div>
