<div class="log">
  <h2 id="page-heading" data-cy="FiliereHeading">
    <p class="list" style="font-weight: bold; text-align: center">Filiére</p>

    <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PROVISEUR']" class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Rafraîchir la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-filiere"
        [routerLink]="['/filiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer un nouveau filiere </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="filieres?.length === 0">
    <span>Aucun filieres trouvé</span>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
  <div class="table-responsive" id="entities" *ngIf="filieres && filieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="lyceesTechniques.nomLycee"><span>Lycée technique</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col" jhiSortBy="nomFiliere"><span>Nom de la filiére</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="nomAutre"><span>Nom Autre</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="nomProgramme"><span>Nom Programme</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="autreAGR"><span>Autre AGR</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomProgrammeEl"><span>Nom Programme El</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreEL"><span>Autre EL</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreMIN"><span>Autre MIN</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreBAT"><span>Autre BAT</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreMECAN"><span>Autre MECAN</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreMENU"><span>Autre MENU</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreAGRO"><span>Autre AGRO</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreELECTRO"><span>Autre ELECTRO</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreSTRUC"><span>Autre STRUC</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreEC"><span>Autre EC</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreCOM"><span>Autre COM</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreIN"><span>Autre IN</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreSAN"><span>Autre SAN</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreProgramme"><span>Autre Programme</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lyceesTechniques.nomLycee"><span>Lycees Techniques</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="directeur.nomPrenom"><span>Directeur</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filiere of filieres; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/filiere', filiere.id, 'view']">{{ filiere.id }}</a>
          </td> -->
          <td>
            <div *ngIf="filiere.lyceesTechniques">
              <a [routerLink]="['/lycees-techniques', filiere.lyceesTechniques?.id, 'view']">{{
                filiere.lyceesTechniques?.nomLycee
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="filiere.nomFiliere != 'AUTRE'">
              {{ filiere.nomFiliere }}
            </div>
            <div *ngIf="filiere.nomFiliere === 'AUTRE'">
              {{ filiere.nomAutre }}
            </div>
          </td>
          
          <!-- <td>{{ filiere.nomFiliere }}</td>
          <td>{{ filiere.nomAutre }}</td> -->
          <!-- <td>{{ filiere.nomProgramme }}</td> -->
          <!-- <td>{{ filiere.autreAGR }}</td>
          <td>{{ filiere.nomProgrammeEl }}</td>
          <td>{{ filiere.autreEL }}</td>
          <td>{{ filiere.autreMIN }}</td>
          <td>{{ filiere.autreBAT }}</td>
          <td>{{ filiere.autreMECAN }}</td>
          <td>{{ filiere.autreMENU }}</td>
          <td>{{ filiere.autreAGRO }}</td>
          <td>{{ filiere.autreELECTRO }}</td>
          <td>{{ filiere.autreSTRUC }}</td>
          <td>{{ filiere.autreEC }}</td>
          <td>{{ filiere.autreCOM }}</td>
          <td>{{ filiere.autreIN }}</td>
          <td>{{ filiere.autreSAN }}</td>
          <td>{{ filiere.autreProgramme }}</td> -->
          <!-- <td>
            <div *ngIf="filiere.lyceesTechniques">
              <a [routerLink]="['/lycees-techniques', filiere.lyceesTechniques?.id, 'view']">{{ filiere.lyceesTechniques?.nomLycee }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="filiere.directeur">
              <a [routerLink]="['/directeur-etude', filiere.directeur?.id, 'view']">{{ filiere.directeur?.nomPrenom }}</a>
            </div>
          </td> -->
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/filiere', filiere.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>

            <button
              type="submit"
              [routerLink]="['/filiere', filiere.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>

            <button type="submit" (click)="delete(filiere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>
          </div>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagi" *ngIf="filieres && filieres.length > 0">
  <div class="row justify-content-center">
    <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
  </div>

  <div class="row justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="ngbPaginationPage"
      [pageSize]="itemsPerPage"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="loadPage($event)"
    ></ngb-pagination>
  </div>
</div>
</div>
</div>
</div>
