<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-visite-heading" data-cy="VisiteCreateUpdateHeading" style="font-weight: bold; text-align: center">
        Créer ou modifier une visite
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <br />
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <br />
            <!-- <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->
            <div class="form-group">
              <label class="form-control-label" for="field_lyceesTechniques">Lycée technique</label>
              <select
                class="form-control"
                id="field_lyceesTechniques"
                data-cy="lyceesTechniques"
                name="lyceesTechniques"
                formControlName="lyceesTechniques"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    lyceesTechniquesOption.id === editForm.get('lyceesTechniques')!.value?.id
                      ? editForm.get('lyceesTechniques')!.value
                      : lyceesTechniquesOption
                  "
                  *ngFor="let lyceesTechniquesOption of lyceesTechniquesSharedCollection; trackBy: trackLyceesTechniquesById"
                >
                  {{ lyceesTechniquesOption.nomLycee }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_nature">Nature de la visite</label>
              <select class="form-control" name="nature" formControlName="nature" id="field_nature" data-cy="nature">
                <option [ngValue]="null"></option>
                <option value="ADMINITRATIVE">Administrative</option>
                <option value="PEDAGOGIQUE">Pédagodique</option>
                <option value="TECHNIQUE">Technique</option>
                <option value="AUTRES">Autres</option>
              </select>
              <div *ngIf="editForm.get('nature')!.invalid && (editForm.get('nature')!.dirty || editForm.get('nature')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('nature')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <div *ngIf="editForm.value.nature === 'AUTRES'">
              <div class="form-group">
                <label class="form-control-label" for="field_autreNature">Autre nature</label>
                <input
                  type="text"
                  class="form-control"
                  name="autreNature"
                  id="field_autreNature"
                  data-cy="autreNature"
                  formControlName="autreNature"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_provenance">Provenance</label>
              <select class="form-control" name="provenance" formControlName="provenance" id="field_provenance" data-cy="provenance">
                <option [ngValue]="null"></option>
                <option value="NIVEAU_CENTRAL">Niveau central</option>
                <option value="PEDAGOGIQUE">Niveau deconcentré</option>
                <option value="AUTRES">Autres</option>
              </select>
              <div
                *ngIf="editForm.get('provenance')!.invalid && (editForm.get('provenance')!.dirty || editForm.get('provenance')!.touched)"
              >
                <small class="form-text text-danger" *ngIf="editForm.get('provenance')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <div *ngIf="editForm.value.Provenance === 'AUTRES'">
              <div class="form-group">
                <label class="form-control-label" for="field_autreProvenance">Autre provenance</label>
                <input
                  type="text"
                  class="form-control"
                  name="autreProvenance"
                  id="field_autreProvenance"
                  data-cy="autreProvenance"
                  formControlName="autreProvenance"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_objet">Objet</label>
              <textarea class="form-control" name="objet" id="field_objet" data-cy="objet" formControlName="objet"></textarea>
              <div *ngIf="editForm.get('objet')!.invalid && (editForm.get('objet')!.dirty || editForm.get('objet')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('objet')?.errors?.required"> This field is required. </small>
              </div>
            </div>

          

            <div class="form-group">
              <label class="form-control-label" for="field_periode">Période</label>
              <div class="input-group">
                <input
                  id="field_periode"
                  data-cy="periode"
                  type="text"
                  class="form-control"
                  name="periode"
                  ngbDatepicker
                  #periodeDp="ngbDatepicker"
                  formControlName="periode"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="periodeDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
              <div *ngIf="editForm.get('periode')!.invalid && (editForm.get('periode')!.dirty || editForm.get('periode')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('periode')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <!-- <div class="form-group">
          <label class="form-control-label" for="field_proviseur">Proviseur</label>
          <select class="form-control" id="field_proviseur" data-cy="proviseur" name="proviseur" formControlName="proviseur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="proviseurOption.id === editForm.get('proviseur')!.value?.id ? editForm.get('proviseur')!.value : proviseurOption"
              *ngFor="let proviseurOption of proviseursSharedCollection; trackBy: trackProviseurById"
            >
              {{ proviseurOption.nomPrenom }}
            </option>
          </select>
        </div> -->
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
    <br />
  </div>
</div>
