<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="comptableMatiere">
      <h2 data-cy="comptableMatiereDetailsHeading"><span>Comptable matiére</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="row">
        <div class="col-md-12">
          <dl class="row-md jh-entity-details">
            <!-- <dt><span>ID</span></dt>
        <dd>
          <span>{{ comptableMatiere.id }}</span>
        </dd> -->
            <dt><span>Nom lycée</span></dt>
            <dd>
              <div *ngIf="comptableMatiere.nomLycee">
                <a [routerLink]="['/lycees-techniques', comptableMatiere.nomLycee?.id, 'view']">{{ comptableMatiere.nomLycee?.id }}</a>
              </div>
            </dd>
            <dt><span>Nom et prénom</span></dt>
            <dd>
              <span>{{ comptableMatiere.nomPrenom }}</span>
            </dd>
            <dt><span>User</span></dt>
            <dd>
              <span>{{ comptableMatiere.user?.login }}</span>
            </dd>
          </dl>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/comptable-matiere', comptableMatiere.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
      </button>
    </div>
  </div>
</div>
