<div class="log">
  <h2 id="page-heading" data-cy="ReformeMatiereHeading">
    <p class="list" style="font-weight: bold; text-align: center">Réforme des matiéres</p>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Rafraîchir la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reforme-matiere"
        [routerLink]="['/reforme-matiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer une nouvelle réforme des matiéres </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reformeMatieres?.length === 0">
    <span>Aucune réforme des matiéres trouvée</span>
  </div>

  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br />
  <div class="table-responsive" id="entities" *ngIf="reformeMatieres && reformeMatieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="lyceesTechniques.nomLycee"><span>Lycée technique</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="group"><span>Groupe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="designationDesmembre"><span>Désignation des membres</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pvReforme"><span>PV de réforme</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sortieDefinitive"><span>Sortie définitive</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="certificatAdministratif"><span>Certificat administratif</span> <fa-icon icon="sort"></fa-icon></th>

          <!-- <th scope="col" jhiSortBy="comptableMatiere.nomPrenom"><span>Comptable Matiere</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reformeMatiere of reformeMatieres; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
        <a [routerLink]="['/reforme-matiere', reformeMatiere.id, 'view']">{{ reformeMatiere.id }}</a>
      </td> -->
          <td>
            <div *ngIf="reformeMatiere.lyceesTechniques">
              <a [routerLink]="['/lycees-techniques', reformeMatiere.lyceesTechniques?.id, 'view']">{{
                reformeMatiere.lyceesTechniques?.nomLycee
              }}</a>
            </div>
          </td>
          <td>{{ reformeMatiere.group }}</td>
          <td>
            <a
              *ngIf="reformeMatiere.designationDesmembre"
              (click)="openFile(reformeMatiere.designationDesmembre, reformeMatiere.designationDesmembreContentType)"
              >open</a
            >
            <span *ngIf="reformeMatiere.designationDesmembre"
              >{{ reformeMatiere.designationDesmembreContentType }}, {{ byteSize(reformeMatiere.designationDesmembre) }}</span
            >
          </td>
          <td>
            <a *ngIf="reformeMatiere.pvReforme" (click)="openFile(reformeMatiere.pvReforme, reformeMatiere.pvReformeContentType)"
              >open</a
            >
            <span *ngIf="reformeMatiere.pvReforme"
              >{{ reformeMatiere.pvReformeContentType }}, {{ byteSize(reformeMatiere.pvReforme) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="reformeMatiere.sortieDefinitive"
              (click)="openFile(reformeMatiere.sortieDefinitive, reformeMatiere.sortieDefinitiveContentType)"
              >open</a
            >
            <span *ngIf="reformeMatiere.sortieDefinitive"
              >{{ reformeMatiere.sortieDefinitiveContentType }}, {{ byteSize(reformeMatiere.sortieDefinitive) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="reformeMatiere.certificatAdministratif"
              (click)="openFile(reformeMatiere.certificatAdministratif, reformeMatiere.certificatAdministratifContentType)"
              >open</a
            >
            <span *ngIf="reformeMatiere.certificatAdministratif"
              >{{ reformeMatiere.certificatAdministratifContentType }}, {{ byteSize(reformeMatiere.certificatAdministratif) }}</span
            >
          </td>

          <!-- <td>
        <div *ngIf="reformeMatiere.comptableMatiere">
          <a [routerLink]="['/comptable-matiere', reformeMatiere.comptableMatiere?.id, 'view']">{{
            reformeMatiere.comptableMatiere?.nomPrenom
          }}</a>
        </div>
      </td> -->
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reforme-matiere', reformeMatiere.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reforme-matiere', reformeMatiere.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(reformeMatiere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="pagi" *ngIf="reformeMatieres && reformeMatieres.length > 0">
<div class="row justify-content-center">
  <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
</div>

<div class="row justify-content-center">
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="ngbPaginationPage"
    [pageSize]="itemsPerPage"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="loadPage($event)"
  ></ngb-pagination>
</div>
</div>
</div>
