<div class="footer">
  <div class="container footer-top">
    <div class="row">
      <!--tout le contenu-->
      <div class="col-sm-4 col-lg-4 footer-widget">
        <div class="fot1-widget">
          <span class="anta" style="position: relative; right: 100px; top: 30px"> </span>
          <div>
            <!-- <p class="para" style="font-weight: bold; text-align: center;">Plateforme 
             de la gestion <br /> des lycées techniques l</p> -->
          </div>
        
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 footer-widget">
        <div class="foot2-widget">
          <p class="cont" style="font-weight: bold">CONTACT</p>
          <div>
            <span>
              <a class="log">
                <fa-icon icon="map-marker"></fa-icon>
                Sphères Ministérielles de Diamniadio
              </a>
            </span>
          </div>
          <br />
          <div>
            <span>
              <a class="log">
                <fa-icon icon="phone"></fa-icon>
                338657033
              </a>
            </span>
          </div>
          <br />
          <div>
            <span>
              <a class="log">
                <fa-icon icon="envelope"></fa-icon>
                dfpt@gmail.com
              </a>
            </span>
          </div>
          <br />
          <div>
            <span>
              <a class="log">
                <fa-icon icon="clock"></fa-icon>
                Lundi au Vendredi de 8h à 17h
              </a>
            </span>
          </div>
          <br />
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 footer-widget">
        <div class="foot3-widget">
          <p class="cont" style="font-weight: bold ;">LIENS UTILES</p>
          <div>
            <span class="log">
              <fa-icon icon="globe"></fa-icon>
              <a href="www.mefpai.gouv.sn" class="log">Site du MFPAI</a>
            </span>
          </div>
          <br />
          <div>
            <span class="log">
              <!-- <fa-icon [icon]="['fas', 'facebook']"></fa-icon> -->
              <a href="https://web.facebook.com/MEFPAIdfpt/?_rdc=1&_rdr" class="log">Facebook de la DFPT </a>
            </span>
          </div>
          <br />

          <div>
            <span class="log">
              <!-- <fa-icon [icon]="['fas', 'twitter']"></fa-icon> -->
              <a href="https://twitter.com/search?q=%23MEFPAI" class="log">Twitter du MFPAI</a>
            </span>
          </div>

          <br />

          <div>
            <span class="log">
              <!-- <fa-icon [icon]="['fas', 'linkedin']"></fa-icon> -->
              <a href="https://www.linkedin.com/" class="log">Linkedin du MFPAI</a>
            </span>
          </div>
          <br />
          <div>
            <span class="log">
              <fa-icon icon="globe"></fa-icon>
              <a href="https://programmefpt.sec.gouv.sn/acceuil" class="log">Plateforme de gestion des programmes <br /></a>
            </span>
          </div>
          <br />
          <div>
            <span class="log">
              <fa-icon icon="globe"></fa-icon>
              <a href="https://e-jang.sec.gouv.sn/" class="log">E-jang <br /></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--copyright-->
  <div class="copyright">
    <div class="container">
      <div style="font-weight: bold; text-align: center" class="log">
        -------------------------------------------- --------------------------------------------
      </div>
      <p class="copy" style="font-weight: bold; text-align: center">Copyright © 2021 MFPAI-SN</p>
    </div>
  </div>
</div>
