<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-serie-heading" data-cy="SerieCreateUpdateHeading" style="font-weight: bold; text-align: center">
        Créer ou modifier une série
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <br />
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-5">
            <br />
        <!-- <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

        <div class="form-group">
          <label class="form-label" for="field_lyceesTechniques">Lycée technique</label>
          <select
            class="form-control"
            id="field_lyceesTechniques"
            data-cy="lyceesTechniques"
            name="lyceesTechniques"
            formControlName="lyceesTechniques"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                lyceesTechniquesOption.id === editForm.get('lyceesTechniques')!.value?.id
                  ? editForm.get('lyceesTechniques')!.value
                  : lyceesTechniquesOption
              "
              *ngFor="let lyceesTechniquesOption of lyceesTechniquesSharedCollection; trackBy: trackLyceesTechniquesById"
            >
              {{ lyceesTechniquesOption.nomLycee }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomSerie">Nom de la série</label>
          <select class="form-control" name="nomSerie" formControlName="nomSerie" id="field_nomSerie" data-cy="nomSerie">
            <option [ngValue]="null"></option>
            <option value="S3">S3</option>
            <option value="S4">S4</option>
            <option value="S5">S5</option>
            <option value="STEG">STEG</option>
            <option value="T1">T1</option>
            <option value="T2">T2</option>
            <option value="F6">F6</option>
            <option value="STIDD">STIDD</option>
            <option value="STIDD">STIMA</option>
            <option value="STIDD">L1</option>
            <option value="STIDD">L2</option>
            <option value="AUTRES">AUTRE</option>
          </select>
          <div *ngIf="editForm.get('nomSerie')!.invalid && (editForm.get('nomSerie')!.dirty || editForm.get('nomSerie')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nomSerie')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div *ngIf="editForm.value.nomSerie==='AUTRE'">
        <div class="form-group">
          <label class="form-label" for="field_autreSerie">Autre série</label>
          <input
            type="text"
            class="form-control"
            name="autreSerie"
            id="field_autreSerie"
            data-cy="autreSerie"
            formControlName="autreSerie"
          />
        </div>
        </div>

        

        <!-- <div class="row mb-3">
          <label class="form-label" for="field_directeur">Directeur</label>
          <select class="form-control" id="field_directeur" data-cy="directeur" name="directeur" formControlName="directeur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                directeurEtudeOption.id === editForm.get('directeur')!.value?.id ? editForm.get('directeur')!.value : directeurEtudeOption
              "
              *ngFor="let directeurEtudeOption of directeurEtudesSharedCollection; trackBy: trackDirecteurEtudeById"
            >
              {{ directeurEtudeOption.nomPrenom }}
            </option>
          </select>
        </div> -->
        <br>
      </div>
    </div>
  </div>

  <br />
  <div class="can-sav">
    <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
    </button>

    <button
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
    >
      <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
    </button>
  </div>
  <br />
</form>
</div>
</div>
