<div class="log">
  <h2 id="page-heading" data-cy="DifficulteHeading">
    <p class="list" style="font-weight: bold; text-align: center">Difficulté <br /></p>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Rafraîchir la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-difficulte"
        [routerLink]="['/difficulte/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer une nouvelle difficulté </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="difficultes?.length === 0">
    <span>Aucune difficulté trouvée</span>
  </div>

  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-12">
  <div class="table-responsive" id="entities" *ngIf="difficultes && difficultes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="lyceesTechniques.nomLycee"><span>Lycée technique</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nature"><span>Nature</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="autreNature"><span>Autre nature</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="solution"><span>Solution envisagée</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="observation"><span>Observation</span> <fa-icon icon="sort"></fa-icon></th>

          <!-- <th scope="col" jhiSortBy="proviseur.nomPrenom"><span>Proviseur</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let difficulte of difficultes; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
        <a [routerLink]="['/difficulte', difficulte.id, 'view']">{{ difficulte.id }}</a>
      </td> -->
          <td>
            <div *ngIf="difficulte.lyceesTechniques">
              <a [routerLink]="['/lycees-techniques', difficulte.lyceesTechniques?.id, 'view']">{{
                difficulte.lyceesTechniques?.nomLycee
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="difficulte.nature != 'AUTRES'">
              {{ difficulte.nature }}
            </div>
            <div *ngIf="difficulte.nature === 'AUTRES'">
              {{ difficulte.autreNature }}
            </div>
          </td>
          <!-- <td>{{ difficulte.nature }}</td>
      <td>{{ difficulte.autreNature }}</td> -->
          <td>{{ difficulte.description }}</td>
          <td>{{ difficulte.solution }}</td>
          <td>{{ difficulte.observation }}</td>

          <td>
            <div *ngIf="difficulte.proviseur">
              <a [routerLink]="['/proviseur', difficulte.proviseur?.id, 'view']">{{ difficulte.proviseur?.nomPrenom }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/difficulte', difficulte.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/difficulte', difficulte.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(difficulte)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="pagi" *ngIf="difficultes && difficultes.length > 0">
<div class="row justify-content-center">
  <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
</div>

<div class="row justify-content-center">
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="ngbPaginationPage"
    [pageSize]="itemsPerPage"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="loadPage($event)"
  ></ngb-pagination>
</div>
</div>
</div>