<div>
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-6" *ngIf="account$ | async as account">
      <h2>
        Changer de votre mot de passe [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Mot de passe changé!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>Une erreur est survenue!</strong> Le mot de passe n'a pas pu être modifié.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Le mot de passe et sa confirmation ne correspondent pas !</div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="form-con col-md-8">
          <br />
          <div class="form-group">
            <label class="form-control-label" for="currentPassword">Mot de passe actuel</label>
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              name="currentPassword"
              placeholder="Current password"
              formControlName="currentPassword"
              data-cy="currentPassword"
            />

            <div
              *ngIf="
                passwordForm.get('currentPassword')!.invalid &&
                (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
                Votre mot de passe est requis.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="newPassword">Nouveau mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="New password"
              formControlName="newPassword"
              data-cy="newPassword"
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Votre mot de passe est requis.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Votre mot de passe doit comporter au moins 4 caractères.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Votre mot de passe ne peut pas dépasser 50 caractères.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm the new password"
              formControlName="confirmPassword"
              data-cy="confirmPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Votre mot de passe de confirmation est requis.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Votre mot de passe de confirmation doit comporter au moins 4 caractères.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Votre mot de passe de confirmation ne peut pas dépasser 50 caractères.
              </small>
            </div>
            <br />
          </div>
        </div>
        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Sauvegarrder</button>
        <br />
      </form>
      <br />
    </div>
  </div>
</div>
