<div class="log">
  <h2 id="page-heading" data-cy="NiveauxCalificationHeading">
    <br />
    <p class="list" style="font-weight: bold; text-align: center">Niveaux qualifications</p>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Rafraîchir la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-niveaux-calification"
        [routerLink]="['/niveaux-calification/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer un nouveau niveau qualification </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="niveauxCalifications?.length === 0">
    <span>Aucun niveau de qualification trouvé</span>
  </div>

  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br />
  <div class="table-responsive" id="entities" *ngIf="niveauxCalifications && niveauxCalifications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="lyceesTechniques.nomLycee"><span>Lycée technique</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="filiere.nomFiliere"><span>Filiere</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="niveauCalification"><span>Niveau Calification</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="typeNiveauCalification"><span>Type Niveau Calification</span> <fa-icon icon="sort"></fa-icon></th>
         
          <!-- <th scope="col" jhiSortBy="directeur.nomPrenom"><span>Directeur</span> <fa-icon icon="sort"></fa-icon></th> -->

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let niveauxCalification of niveauxCalifications; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/niveaux-calification', niveauxCalification.id, 'view']">{{ niveauxCalification.id }}</a>
          </td> -->
          <td>
            <div *ngIf="niveauxCalification.lyceesTechniques">
              <a [routerLink]="['/lycees-techniques', niveauxCalification.lyceesTechniques?.id, 'view']">{{
                niveauxCalification.lyceesTechniques?.nomLycee
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="niveauxCalification.filiere">
              <a [routerLink]="['/filiere', niveauxCalification.filiere?.id, 'view']">{{ niveauxCalification.filiere?.nomFiliere }}</a>
            </div>
          </td>
          <!-- <td>{{ niveauxCalification.niveauCalification }}</td> -->
          <td>{{ niveauxCalification.typeNiveauCalification }}</td>
          
          <!-- <td>
            <div *ngIf="niveauxCalification.directeur">
              <a [routerLink]="['/directeur-etude', niveauxCalification.directeur?.id, 'view']">{{
                niveauxCalification.directeur?.nomPrenom
              }}</a>
            </div>
          </td> -->
          
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/niveaux-calification', niveauxCalification.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/niveaux-calification', niveauxCalification.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(niveauxCalification)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<br />
<div class="pagi" *ngIf="niveauxCalifications && niveauxCalifications.length > 0">
<div class="row justify-content-center">
  <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
</div>

<div class="row justify-content-center">
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="ngbPaginationPage"
    [pageSize]="itemsPerPage"
    [maxSize]="10"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="loadPage($event)"
  ></ngb-pagination>
</div>
</div>
<br />
</div>
