<header class="tout">
  <div class="row">
    <div  class="col-md-1"> </div>
    <div  class="col-md-3 mt-4">
      <div class="drapeau"></div>
      <p class="divise">un peuple-un but-une foi</p>
    </div>
    <div class="col-md-7 mt-4">
      <p class="cigle" style="text-align: center;">Ministère de l'Emploi, de la Formation Professionnelle, 
        <br>de l'Apprentissage et de l'Insertion</p>
    </div>
    <!-- <img src="../../../content/images/entete.PNG" height="130vh" width="1498vh"> -->
  </div>
  <div>
    <router-outlet name="navbar"></router-outlet>
  </div>

  <div class="container-fluid">
      <router-outlet></router-outlet>
  </div>
  <jhi-footer></jhi-footer>
</header>
