<div class="log">
  <h2 id="page-heading" data-cy="ComptableFinancierHeading">
    <p class="list" style="font-weight: bold; text-align: center">Comptables financiers</p>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Rafraîchir la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comptable-financier"
        [routerLink]="['/comptable-financier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer un nouveau comptable financier </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comptableFinanciers?.length === 0">
    <span>Aucun comptable financier trouvé</span>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br />

  <div class="table-responsive" id="entities" *ngIf="comptableFinanciers && comptableFinanciers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="nomLycee.id"><span>Nom lycée</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomPrenom"><span>Nom prénom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.login"><span>User</span> <fa-icon icon="sort"></fa-icon></th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comptableFinancier of comptableFinanciers; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
        <a [routerLink]="['/comptable-financier', comptableFinancier.id, 'view']">{{ comptableFinancier.id }}</a>
      </td> -->
          <td>
            <div *ngIf="comptableFinancier.nomLycee">
              <a [routerLink]="['/lycees-techniques', comptableFinancier.nomLycee?.id, 'view']">{{
                comptableFinancier.nomLycee?.id
              }}</a>
            </div>
          </td>
          <td>{{ comptableFinancier.nomPrenom }}</td>
          <td>
            {{ comptableFinancier.user?.login }}
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comptable-financier', comptableFinancier.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comptable-financier', comptableFinancier.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(comptableFinancier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<br />
<div class="pagi" *ngIf="comptableFinanciers && comptableFinanciers.length > 0">
<div class="row justify-content-center">
  <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
</div>

<div class="row justify-content-center">
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="ngbPaginationPage"
    [pageSize]="itemsPerPage"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="loadPage($event)"
  ></ngb-pagination>
</div>
</div>
</div>
