<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-personnel-appui-heading" data-cy="PersonnelAppuiCreateUpdateHeading" style="font-weight: bold; text-align: center">
        Créer ou modifier un membre
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">

            <!-- <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->
            <div class="form-group">
              <label class="form-control-label" for="field_lyceesTechniques">Lycée technique</label>
              <select
                class="form-control"
                id="field_lyceesTechniques"
                data-cy="lyceesTechniques"
                name="lyceesTechniques"
                formControlName="lyceesTechniques"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    lyceesTechniquesOption.id === editForm.get('lyceesTechniques')!.value?.id
                      ? editForm.get('lyceesTechniques')!.value
                      : lyceesTechniquesOption
                  "
                  *ngFor="let lyceesTechniquesOption of lyceesTechniquesSharedCollection; trackBy: trackLyceesTechniquesById"
                >
                  {{ lyceesTechniquesOption.nomLycee }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_nom">Nom</label>
              <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
              <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_prenom">Prénom</label>
              <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
              <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('prenom')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_situationMatrimoniale">Situation matrimoniale</label>
              <select
                class="form-control"
                name="situationMatrimoniale"
                formControlName="situationMatrimoniale"
                id="field_situationMatrimoniale"
                data-cy="situationMatrimoniale"
              >
                <option [ngValue]="null"></option>
                <option value="MARIE">Marié(e)</option>
                <!-- <option value="MARIEE">MARIEE</option> -->
                <option value="CELIBATAIRE">Celibataire</option>
                <option value="VEUVE">Veuve</option>
                <option value="AUTRES">Autres</option>
              </select>
              <div
                *ngIf="
                  editForm.get('situationMatrimoniale')!.invalid &&
                  (editForm.get('situationMatrimoniale')!.dirty || editForm.get('situationMatrimoniale')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="editForm.get('situationMatrimoniale')?.errors?.required">
                  This field is required.
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_fonction">Fonction</label>
              <select class="form-control" name="fonction" formControlName="fonction" id="field_fonction" data-cy="fonction">
                <option [ngValue]="null"></option>
                <option value="GARDIEN">GARDIEN</option>
                <option value="TECHNICIENSURFACE">Technicien de surface </option>
                <option value="LABORANTIN">Laborantin</option>
                <option value="REPROGRAPHE">Reprographe</option>
                <option value="AUTRES">autres</option>
              </select>
              <div *ngIf="editForm.get('fonction')!.invalid && (editForm.get('fonction')!.dirty || editForm.get('fonction')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('fonction')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <div *ngIf="editForm.value.fonction === 'AUTRES'">
              <div class="form-group">
                <label class="form-control-label" for="field_autreFoction">Autre fonction</label>
                <input
                  type="text"
                  class="form-control"
                  name="autreFoction"
                  id="field_autreFoction"
                  data-cy="autreFoction"
                  formControlName="autreFoction"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_telephone">Téléphone</label>
              <input
                type="text"
                class="form-control"
                name="telephone"
                id="field_telephone"
                data-cy="telephone"
                formControlName="telephone"
              />
              <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('telephone')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_mail">e-mail</label>
              <input type="text" class="form-control" name="mail" id="field_mail" data-cy="mail" formControlName="mail" />
              <div *ngIf="editForm.get('mail')!.invalid && (editForm.get('mail')!.dirty || editForm.get('mail')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('mail')?.errors?.required"> This field is required. </small>
              </div>
            </div>
            <br>

            <!-- <div class="form-group">
          <label class="form-control-label" for="field_directeur">Directeur</label>
          <select class="form-control" id="field_directeur" data-cy="directeur" name="directeur" formControlName="directeur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="proviseurOption.id === editForm.get('directeur')!.value?.id ? editForm.get('directeur')!.value : proviseurOption"
              *ngFor="let proviseurOption of proviseursSharedCollection; trackBy: trackProviseurById"
            >
              {{ proviseurOption.nomPrenom }}
            </option>
          </select>
        </div> -->
          </div>
        </div>
      </div>
      <br />
      <div class="can-sav">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
    <br />
  </div>
  <br />
</div>
