<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="niveauxEtudes">
      <h2 data-cy="niveauxEtudesDetailsHeading" style="font-weight: bold"><span>Niveaux Etudes</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="row">
        <div class="col-md-12">
          <dl class="row-md jh-entity-details">
            <!-- <dt><span>ID</span></dt>
        <dd>
          <span>{{ niveauxEtudes.id }}</span>
        </dd> -->
            <dt><span>Série</span></dt>
            <dd>
              <div *ngIf="niveauxEtudes.serie">
                <a [routerLink]="['/serie', niveauxEtudes.serie?.id, 'view']">{{ niveauxEtudes.serie?.nomSerie }}</a>
              </div>
            </dd>
            <dt><span>Nom du niveau</span></dt>
            <dd>
              <span>{{ niveauxEtudes.nomNiveau }}</span>
            </dd>
            <dt><span>Lycée technique</span></dt>
            <dd>
              <div *ngIf="niveauxEtudes.lyceesTechniques">
                <a [routerLink]="['/lycees-techniques', niveauxEtudes.lyceesTechniques?.id, 'view']">{{
                  niveauxEtudes.lyceesTechniques?.nomLycee
                }}</a>
              </div>
            </dd>

            <!-- <dt><span>Directeur</span></dt>
        <dd>
          <div *ngIf="niveauxEtudes.directeur">
            <a [routerLink]="['/directeur-etude', niveauxEtudes.directeur?.id, 'view']">{{ niveauxEtudes.directeur?.nomPrenom }}</a>
          </div>
        </dd> -->
          </dl>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/niveaux-etudes', niveauxEtudes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
      </button>
    </div>
  </div>
</div>
