.log{
    font-size: 13px;
  }
  .col-md-10{
    background-color: white;
  }
  
  .table{
  
    text-align: center;
  }
  .d-flex {
    position: relative; right: 15px; font-size: 14px;
  }
  .btn{
  position: relative; left:350px;
  background-color: blue;
  }
  
     .list {
      font-weight: bold; text-align: center;
     
      
     }
    //  .table{
    //   width: 201vh;
    //  position: relative; right: 12px;
    // }
    
    .row{
      color: black;
      font-weight: bold;
    }