<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-iventaire-des-matetiere-heading"
        data-cy="IventaireDesMatetiereCreateUpdateHeading"
        style="font-weight: bold; text-align: center"
      >
        Créer ou éditer un inventaire des matières
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <br />
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <br />

            <!-- <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

            <div class="form-group">
              <label class="form-control-label" for="field_lyceesTechniques">Lycée technique</label>
              <select
                class="form-control"
                id="field_lyceesTechniques"
                data-cy="lyceesTechniques"
                name="lyceesTechniques"
                formControlName="lyceesTechniques"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    lyceesTechniquesOption.id === editForm.get('lyceesTechniques')!.value?.id
                      ? editForm.get('lyceesTechniques')!.value
                      : lyceesTechniquesOption
                  "
                  *ngFor="let lyceesTechniquesOption of lyceesTechniquesSharedCollection; trackBy: trackLyceesTechniquesById"
                >
                  {{ lyceesTechniquesOption.nomLycee }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_group">Groupe</label>
              <select class="form-control" name="group" formControlName="group" id="field_group" data-cy="group">
                <option [ngValue]="null"></option>
                <option value="GROUP1">Groupe 1</option>
                <option value="GROUP2">Groupe 2</option>
              </select>
            </div>
<br>
            <div class="form-group">
              <label class="form-control-label" for="field_designationMembre">Désignation des membre</label>
              <div>
                <div *ngIf="editForm.get('designationMembre')!.value" class="form-text text-danger clearfix">
                  <a
                    class="pull-left"
                    (click)="openFile(editForm.get('designationMembre')!.value, editForm.get('designationMembreContentType')!.value)"
                    >open</a
                  ><br />
                  <span class="pull-left"
                    >{{ editForm.get('designationMembreContentType')!.value }},
                    {{ byteSize(editForm.get('designationMembre')!.value) }}</span
                  >
                  <button
                    type="button"
                    (click)="editForm.patchValue({ designationMembre: null }); editForm.patchValue({ designationMembreContentType: null })"
                    class="btn btn-secondary btn-xs pull-right"
                  >
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
                <input
                  type="file"
                  id="file_designationMembre"
                  data-cy="designationMembre"
                  (change)="setFileData($event, 'designationMembre', false)"
                />
              </div>
              <input
                type="hidden"
                class="form-control"
                name="designationMembre"
                id="field_designationMembre"
                data-cy="designationMembre"
                formControlName="designationMembre"
              />
              <input
                type="hidden"
                class="form-control"
                name="designationMembreContentType"
                id="field_designationMembreContentType"
                formControlName="designationMembreContentType"
              />
            </div>

            <br>
            <div class="form-group">
              <label class="form-control-label" for="field_pvDinventaire">PV d'inventaire</label>
              <div>
                <div *ngIf="editForm.get('pvDinventaire')!.value" class="form-text text-danger clearfix">
                  <a
                    class="pull-left"
                    (click)="openFile(editForm.get('pvDinventaire')!.value, editForm.get('pvDinventaireContentType')!.value)"
                    >open</a
                  ><br />
                  <span class="pull-left"
                    >{{ editForm.get('pvDinventaireContentType')!.value }}, {{ byteSize(editForm.get('pvDinventaire')!.value) }}</span
                  >
                  <button
                    type="button"
                    (click)="editForm.patchValue({ pvDinventaire: null }); editForm.patchValue({ pvDinventaireContentType: null })"
                    class="btn btn-secondary btn-xs pull-right"
                  >
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
                <input type="file" id="file_pvDinventaire" data-cy="pvDinventaire" (change)="setFileData($event, 'pvDinventaire', false)" />
              </div>
              <input
                type="hidden"
                class="form-control"
                name="pvDinventaire"
                id="field_pvDinventaire"
                data-cy="pvDinventaire"
                formControlName="pvDinventaire"
              />
              <input
                type="hidden"
                class="form-control"
                name="pvDinventaireContentType"
                id="field_pvDinventaireContentType"
                formControlName="pvDinventaireContentType"
              />
            </div>

            <!-- <div class="form-group">
          <label class="form-control-label" for="field_comptableMatiere">Comptable Matiere</label>
          <select
            class="form-control"
            id="field_comptableMatiere"
            data-cy="comptableMatiere"
            name="comptableMatiere"
            formControlName="comptableMatiere"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                comptableMatiereOption.id === editForm.get('comptableMatiere')!.value?.id
                  ? editForm.get('comptableMatiere')!.value
                  : comptableMatiereOption
              "
              *ngFor="let comptableMatiereOption of comptableMatieresSharedCollection; trackBy: trackComptableMatiereById"
            >
              {{ comptableMatiereOption.nomPrenom }}
            </option>
          </select>
        </div> -->
            <!-- </div> -->
            <br>
          </div>
        </div>
      </div>

      <br />
      <div class="can-sav">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
      <br />
    </form>
  </div>
</div>
