// .logo {
//   // margin-left: 50%;
//   height: 300px;
//   width: 600px;
//   background: url('../../content/images/LTS__2_-removebg-preview.png');
//   border-top-left-radius:30px;
//   border-top-right-radius:30px;
//   border-bottom-left-radius:30px;
//   border-bottom-right-radius:30px;
//   background-size: cover;
//   display: block;
//   margin-bottom: 100px;
// }
// .logo{
//   height: 500px;
//   width: 1000px;
// }
.col-md-7{
  background: url('../../content/images/LTS__2_-removebg-preview.png');
  background-size: cover;
  margin-top: -320px;
}
.col-md-4{
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  // background-color: rgb(10, 7, 184);
}
.form-check{
  font-weight: bold;
}
.list{
 position: relative; font-weight: bold; text-align: center;

}
.form-group{
  font-weight: bold;
}
.username-label{
  font-weight: bold;
}

.btn{
  font-weight: bold;
  color: black;
  position: relative; 
  text-align: center; 
  left:30%;
  background-color: aliceblue;
}
// .col-md-5 {
//   position: relative; right: 100px; top:20%;}
// .col-md-8{
//   position: relative; left:130%; bottom: 30%;
// }
// .btn{
//   width: 60vh;
// }

// .log{

// width: 200vh;
// }
// // .log{
// //   filter: sepia(100%) hue-rotate(190deg) saturate(300%);
// // }
// .row{
// background-image: url('../../content/images/page-bg.jpg');
// background-color: rgb(139, 191, 243);
// margin-left: 0.1%;
// background-size: cover;
// border: none;
// width: 205vh;
// height: 90vh;
// position: relative; right: 16px ,
// }


// .form-group{
// width: 40vh;
// }

// .mt-3.alert.alert.warning{
//   width: 5vh;
//   height: 10vh;
// }


