<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-niveaux-calification-heading"
        data-cy="NiveauxCalificationCreateUpdateHeading"
        style="font-weight: bold; text-align: center"
      >
        Créer ou modifier un niveau de qualification
      </h2>
      <div>
        <jhi-alert-error></jhi-alert-error>

        <br />
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-5">
            <br />
        <!-- <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

        <div class="form-group">
          <label class="form-label" for="field_lyceesTechniques">Lycée technique</label>
          <select
            class="form-control"
            id="field_lyceesTechniques"
            data-cy="lyceesTechniques"
            name="lyceesTechniques"
            formControlName="lyceesTechniques"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                lyceesTechniquesOption.id === editForm.get('lyceesTechniques')!.value?.id
                  ? editForm.get('lyceesTechniques')!.value
                  : lyceesTechniquesOption
              "
              *ngFor="let lyceesTechniquesOption of lyceesTechniquesSharedCollection; trackBy: trackLyceesTechniquesById"
            >
              {{ lyceesTechniquesOption.nomLycee }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-label" for="field_filiere">Filiére</label>
          <select class="form-control" id="field_filiere" data-cy="filiere" name="filiere" formControlName="filiere">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="filiereOption.id === editForm.get('filiere')!.value?.id ? editForm.get('filiere')!.value : filiereOption"
              *ngFor="let filiereOption of filieresSharedCollection; trackBy: trackFiliereById"
            >
              {{ filiereOption.nomFiliere }}
            </option>
          </select>
        </div>
        <!-- <div class="row mb-3">
          <label class="form-label" for="field_niveauCalification">Niveau Calification</label>
          <input
            type="text"
            class="form-control"
            name="niveauCalification"
            id="field_niveauCalification"
            data-cy="niveauCalification"
            formControlName="niveauCalification"
          />
          <div
            *ngIf="
              editForm.get('niveauCalification')!.invalid &&
              (editForm.get('niveauCalification')!.dirty || editForm.get('niveauCalification')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('niveauCalification')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div> -->

        <div class="form-group">
          <label class="form-label" for="field_typeNiveauCalification">Type de niveau de qualification</label>
          <select
            class="form-control"
            name="typeNiveauCalification"
            formControlName="typeNiveauCalification"
            id="field_typeNiveauCalification"
            data-cy="typeNiveauCalification"
          >
            <option [ngValue]="null"></option>
            <option value="ATTESTE">ATTESTE</option>
            <option value="CPS">CPS</option>
            <option value="CAP">CAP</option>
            <option value="BEP">BEP</option>
            <option value="BTS"> BTS</option>
            <option value="ChefdeChantier">Chef de chantier</option>
            <option value="CQP">CQP</option>
            <option value="AUTRE"> AUTRE</option>
          </select>
        </div>

       
        <!-- <div class="form-group">
          <label class="form-control-label" for="field_directeur">Directeur</label>
          <select class="form-control" id="field_directeur" data-cy="directeur" name="directeur" formControlName="directeur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                directeurEtudeOption.id === editForm.get('directeur')!.value?.id ? editForm.get('directeur')!.value : directeurEtudeOption
              "
              *ngFor="let directeurEtudeOption of directeurEtudesSharedCollection; trackBy: trackDirecteurEtudeById"
            >
              {{ directeurEtudeOption.nomPrenom }}
            </option>
          </select>
        </div> -->
        <br>
      </div>
    </div>
  </div>

  <br />
  <div class="can-sav">
    <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
    </button>

    <button
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
    >
      <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
    </button>
  </div>
  <br />
</form>
</div>
<br />
</div>

