// /* ==========================================================================
// Main page styles
// ========================================================================== */

// .hipster {
//   display: inline-block;
//   width: 347px;
//   height: 497px;
//   background: url('../../content/images/homeim.PNG') no-repeat center top;
//   background-size: contain;
// }

// /* wait autoprefixer update to allow simple generation of high pixel density media query */
// @media only screen and (-webkit-min-device-pixel-ratio: 2),
//   only screen and (-moz-min-device-pixel-ratio: 2),
//   only screen and (-o-min-device-pixel-ratio: 2/1),
//   only screen and (min-resolution: 192dpi),
//   only screen and (min-resolution: 2dppx) {
//   .hipster {
//     background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
//     background-size: contain;
//   }
// }
/* ==========================================================================
Main page styles
========================================================================== */



/* wait autoprefixer update to allow simple generation of high pixel density media query */

  
.tout{
  padding: 1.5%;
  border: none;
  // background: url('../../content/images/home.PNG');
  background-size: cover;
  width: 100%;
  height: 110vh;
 
 
  
}
.wrapper{

  // display: table;
  height: 10vh;
  font-size: 16px;
  margin-left: 50px;
  top: 50%
  //text-align: right;
  //vertical-align: middle;
  
}

.display-4{
  color: rgb(210, 105, 30);
  position: relative;  font-weight: bold; text-align: center;

}
//   //background: url('../../content/images/jhipster_family_member_1_head-192.png') no-repeat center center;
//   background-size: cover;
//   // display: inline-block;
//   // width: 300vh;
//   // height: 60vh;
//   // background: url('../../content/images/jhipster_family_member_1_head-192.png') no-repeat center center;
//   // background-size: cover;
//   // padding: 1.5%;
//   // border: none;
// }

// .content{
//   display: table-cell;
//   text-align: center;
//   vertical-align: middle;
// }


// .display-4{

//   margin-top: 300px;
//   height: 30px;


// }