.log{
    font-size: 13px;
  }
  .table-responsive{
  
    background-color: white;
  }
  
  
    .d-flex {
      position: relative; right: 15px; font-size: 14px;
    }
  .btn{
    position: relative; font-size: 14px;
  }
     .list {
      font-weight: bold; text-align: center;
      
     }
    //  .table{
    //   width: 201vh;
    //  position: relative; right: 12px;
    // }
      
    .pagi{
      color: black;
      font-weight: bold;
     
    }
  
    //  .btn-group{
    //   position: relative; right: 30px;
    //  }
  
     .table{
    
      text-align: center;
    }